---
    // Component imports and setup JavaScript go here!
    import BaseLayout from '../../layouts/BaseLayout.astro';
    import BlogArticleCard from '../../components/ArticleCard.astro';
    import { generateCategoryData } from '../../utils/slugHelper.js';

    export async function getStaticPaths() {
        const allPosts = await Astro.glob('../blog/**/*.md');
        const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());

        // Get all unique tags
        const allCategoriesUnique = new Set();
        sortedPosts.forEach(post => {
            const category = post.frontmatter.category;
            if (category) {
                allCategoriesUnique.add(category)
            }
        })
        const allCategoriesData = generateCategoryData(allCategoriesUnique);

        // map through the tags array
        return allCategoriesData.map((category) => {
            // filter the posts that match the given category
            const posts = sortedPosts.filter((post) => post.frontmatter.category == category.name)
            return {
                params: { slug: category.slug },
                props: {
                    category: category.name,
                    posts: posts
                }
            };
        });
    }
    const { category, posts } = Astro.props;
    const title = `Blog Posts Tagged with ${category}`
---

<BaseLayout title={title}>
    <main>
        <h1>{title}</h1>

        {posts.map(post => (
        <BlogArticleCard post={post} />
        ))}
    </main>
</BaseLayout>