---
    import SocialPresence from '../components/SocialPresence.astro';
    import Layout from '../layouts/BaseLayout.astro';
    const title = "Welcome to About section";
---

<Layout title={title}>
    <div class="container">
        <div class="header">
            Wow, you just like to know more about me, Alright go ahead.
        </div>
        <div class="profile-image">
            <img src="/image/profile_image.png" alt="profile-image">
        </div>
        <div class="blog-purpose">
            This is <strong>Thanga Ayyanar</strong>, also known as <strong>Gold Ayan</strong>.
            I waste most of my time in
            <em>Automate things using python</em>,
            <em>learning Terminal tools</em>,
            <em>exploring linux</em>,
            <em>imporving problem solving skills</em>.
            one of the few soul who loves both emacs and vim :p.
            <div class="social-media-container">
                <SocialPresence />
            </div>
        </div>
        <!--<div class="tech-skills">
            <div class="frontend">
                <h3>Frontend</h3>
                <ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>React JS</li>
                    <li>Bulma.css</li>
                </ul>
            </div>
            <div class="backend">
                <h3>Backend</h3>
                <ul>
                    <li>Python - FastAPI</li>
                    <li>Postgres</li>
                </ul>
            </div>
            <div class="mobile">
                <h3>Mobile</h3>
                <ul>
                    <li>iOS Native Development - Swift</li>
                    <li>React Native</li>
                </ul>
            </div>
        </div>-->
        <div class="projects">
            <h3>Personal Projects</h3>
            <div>
                <ul>
                    <li>Static Site Blog powered by Astro</li>
                    <p>
                        I have done similar project in 2019, it uses <strong>zola</strong> as static
                        site generator but used Zulma blog template (Template built
                        using Bulma). This time i want to write everything from scratch
                        without any CSS Framework or Blog template.
                    </p>
                    <ul>
                        <li>HTML, CSS, JS</li>
                        <li>JS Framwork: Astro(Static Site Rendering)</li>
                    </ul>
                    <p>More details on here</p>
                </ul>
            </div>
        </div>
    </div>
</Layout>

<style>
    body {
        height: 100vh;
    }

    strong {
        color: var(--theme-color-three);
    }

    em {
        opacity: 65%;
    }

    .container {
        display: grid;
        margin: 100px;
        grid-template-columns: repeat(3, 1fr);
    }

    .header {
        grid-column: 1/span 3;
        text-align: center;
        padding: 15px;
        font-size: 32px;
        font-weight: bold;
        opacity: 75%;
    }

    .tech-skills {
        grid-column: 1/span 3;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .projects {
        grid-column: 1/span 3;
    }

    img {
        width: 400px;
        height: 400px;
    }

    .social-media-container {
        margin-top: 20px;
        text-align: center;
    }

    .blog-purpose {
        grid-column: 2/span 2;
        padding-left: 15px;
        align-self: center;
        font-size: 1.5rem;
    }

    .frontend,
    .backend,
    .mobile,
    .projects {
        font-size: 1.25rem;
    }

    @media only screen and (max-width: 900px) {

        .container {
            margin: 80px;
            grid-template-columns: 1fr;
            justify-items: center;
        }

        .header {
            grid-row: 1;
            grid-column: 1;
        }

        .profile-image {
            grid-row: 2;
            grid-column: 1;
        }

        .blog-purpose {
            grid-row: 3;
            grid-column: 1;
        }

    }

    @media only screen and (max-width: 800px) {

        .tech-skills {
            grid-template-columns: 1fr;
        }
    }

    @media only screen and (max-width: 600px) {

        .container {
            margin: 10px;
        }
    }
</style>