<footer>
    <div class="footer-text">Powered by Astro</div>
</footer>

<style>
    footer {
        width: 100%;
        height: 50px;
    }

    .footer-text {
        text-align: center;
    }
</style>