---
    import SpecialButton from "./SpecialButton.astro";
    const { page } = Astro.props
    //TODO: When i have more than two page i have to change here
    const direction = page.url.next ? "flex-end" : "flex-start";
---

<div class="pagination">
    {page.url.prev &&
    <SpecialButton class="previous" name="Previous" invertarrow="true" url={page.url.prev} />}
    {page.url.next &&
    <SpecialButton class="next" name="Next" url={page.url.next} /> }
</div>

<style define:vars={{ direction }}>
    .pagination {
        display: flex;
        justify-content: var(--direction);
    }
</style>