---
    import '../styles/global.css';
---

<div class="social-media">
    <a class="social-media-item" href="mailto:gldayan8@gmail.com" target="_blank">
        <i class="fa-solid fa-envelope"></i>
    </a>
    <a class="social-media-item" href="https://twitter.com/0xGoldAyan" target="_blank">
        <i class="fa-brands fa-twitter"></i>
    </a>
    <a class="social-media-item" href="https://www.linkedin.com/in/thangaayyanar/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="social-media-item" href="https://github.com/ThangaAyyanar" target="_blank">
        <i class="fa-brands fa-github"></i>
    </a>
</div>

<style>
    .social-media-item {
        text-decoration: none;
        margin-right: 10px;
        font-size: 2rem;
        color: var(--theme-color-one);
    }
</style>